#sc2, #sc3, #sc4, #sc5 {
    width: calc(100% - 500px);
    margin-left: 500px;
}

#sc2{
    height: 100%;
}

.tarjetas{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0 ;
    justify-content: center;
    justify-items: center;
}

.tarjeta{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

@media screen and (max-width:1023px) {

}

@media screen and (min-width: 1024px) {
    .tarjeta {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 3fr;
        gap: 40px;
        
        overflow: hidden;

        padding: 20px;
        margin: 10px 0;
        position: relative; 
        
    }

    .window {
        grid-column: 1;
        grid-row-start: 1;
        grid-row-end: 3;

        width: 100%;
        height: 40dvh;

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 10px;
        background: linear-gradient(150deg, 
        rgba(0, 0, 0, 0.178) 0%, black 80%);
        
        overflow: hidden;
        position: relative; 

        border: 5px solid #161616;
        /* border-top: 30px solid #161616; */
    }

    .techProyectos {
        position: relative;

        grid-column: 2;
        grid-row-start: 1;
        grid-row-end: 2;

        padding: 20px;
        border-radius: 10px;

        /* border: 1px solid; */
        display: flex;
        align-items: center;

        background:
        radial-gradient(at 0% 50%, var(--cd-f1) 0px, transparent 75%),
        radial-gradient(at 0% 50%, var(--cd-f3) 0px, transparent 45%);
    }

    .techProyectos::before{
        content: "";

        position: absolute;

        left: -20px;
        top: 50%;

        transform: translateY(-50%);

        height: 35px;
        width: 35px;

        background: radial-gradient(var(--c-secundario), var(--c-acento));
        border-radius: 50%;
        box-shadow: 0 0 10px rgb(255, 255, 255);
    }

    .techProyectos span::before {
        content: "#";
    }

    .techProyectos span {
        margin-right: 10px;
    }

    .window img {
        height: 120%;
        transform: translateX(200px) rotateZ(-45deg) rotateY(45deg) rotateX(45deg);
        transition: transform 0.3s ease; /* Cambia el timing para mayor fluidez */
        pointer-events: none; /* Evita interferencias del mouse directamente sobre la imagen */
    }

    .tarjeta:hover .window img {
        height: 95%;
        transform: translateX(0px) rotateZ(0deg) rotateY(0deg) rotateX(0deg);
    }
}
