
.botonera{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin:20px;
}

.boton{
    width: 100px;
    height: 40px;
    padding: 5px;
    border-radius: 20px;
    border: none;
    color: var(--c-acento);
    background: linear-gradient(45deg, var(--c-primario),
        var(--c-secundario));

    cursor: pointer;
}
.enlace{
    cursor: pointer;
}

.boton:hover{
    box-shadow: 0px 3px 0px #15192242;
}

#sc0 .botonera{
    position: absolute;
    bottom: 200px;
    left: -250px;
}



/* ANIMAIONES */
.fade-in {
    animation: fadeIn 0.5s ease-in-out forwards;
}

/* Animación de salida */
.fade-out {
    animation: fadeOut 0.5s ease-in-out forwards;
}

/* Definición de la animación de entrada */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Definición de la animación de salida */
@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(1.2);
    }
}