#sc0 {
    height: 775px;
    width: 100dvw;

    display:grid;
    place-items: center;

    /* position: relative;
    top: 0;
    left: -235px; */

    position: fixed;
    left: -50px;
    background-color: rgb(255, 0, 0);
    view-timeline: --scroll;
}

#sc0 h1{
    position: absolute;
}

#sc0 h1:nth-child(1), #sc0 h1:nth-child(2){
    top: 100px;
    font-size: 80px;
    
    color: var(--c-fondo);
    /* height: 100vh; */
}

#sc0 h1:nth-child(3), #sc0 h1:nth-child(4){
   /* height: 140%;  */
   top: 80px;
   text-transform: uppercase;
   font-size: 190px;
   color: var(--c-fondo);
   background: url("");
   background-clip: text;
}

#sc0 h1:nth-child(odd){
    /* color: var(--c-fondo); */
    text-shadow: 2px 2px 5px #00b7ff48,
    -2px -2px 5px #0059ff48,
    2px 2px 20px #92e0ff3d,
    -2px -2px 20px #848cff54;


}

#sc0 h1:nth-child(even){
    color: transparent;
    background:

    radial-gradient(at 56% 54%, var(--cd-f1) 0px, transparent 50%),
    radial-gradient(at 58% 25%, var(--cd-f2) 0px, transparent 50%),
    radial-gradient(at 12% 43%, var(--cd-f3) 0px, transparent 50%);

    background-clip: text ;
    background-size: cover;
    background-position: 100%;
}

#sc0 p{
    position: relative;
    top: 65px;
    width: 600px;
    text-align: center;

    animation: fade-in both linear;
    animation-timeline: --scroll;
    animation-range: 
        exit 0% exit 35%;
}

#sc0 .botonera{
    position: relative;
    left: -250px;

    border-radius: 50px;
    background: var(--c-fondo);
    box-shadow:  8px 8px 30px #080a0e,
             -8px -8px 30px #222836;

    width: 500px;
    height: 40px;
    margin-left: 50%;
    padding: 10px;
}

#sc0 
h1:nth-child(3), #sc0 h1:nth-child(4)
{
    animation: fade-out both linear;
    animation-timeline: --scroll;
    animation-range: 
        exit 5% exit 40%;
}

#sc0
 h1:nth-child(1), #sc0 h1:nth-child(2)
,.botonera
 {
    animation: fade-in both linear;
    animation-timeline: --scroll;
    animation-range: 
        exit 0% exit 35%;
}

@keyframes fade-in {
    to{
        scale:0.8;
        opacity: 0;
    }
}


@keyframes fade-out{
    to{
        opacity: 0;
        scale:1.5;
    }
}
