
.tarjetas{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0 ;
    justify-content: center;
    justify-items: center;
}

.tarjeta{  
    position:relative;
    padding: 20px;
    margin: 80px 20px 40px 20px;

    min-width: 300px;
    max-width: 300px;

    
    background-color: rgba(0, 0, 0, 0.288);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.527);

    backdrop-filter: blur(1px);
}

.tarjeta img{
    position: absolute;
    border-radius: 20px;
    width: 80%;
    height: 160px;

    top: -80px;
    left: 10%;

    color: black;
    


    text-align: center;
    background-color: rgba(255, 255, 255, 0.151);
    backdrop-filter: blur(100px);
}

.tarjeta img::after{
    position: absolute;

    content: url(/resources/img/github.png);
    bottom: 10px;
    right: 10px;

    width: 40px;
    height: 40px;

    background-color: var(--c-fondo);
    border-radius: 10px;

    background-image: url(/resources/img/github.png);
    backdrop-filter: invert();

    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.2) inset,
    -2px 2px 10px  rgba(255, 255, 255, 0.2),
    -2px -2px 10px  rgba(255, 255, 255, 0.2) inset,
    2px -2px 10px  rgba(255, 255, 255, 0.2);

}

.descripcion{
    height: 100%;
    margin-bottom: 60px;
}


.tarjeta .techProyectos{
    margin:90px 0 10px 0;
}

.techProyectos span{
    font-size: 12px;
}