:root{
    --c-primario: rgb(255, 235, 119);
    --c-secundario: rgb(255, 202, 123);
    --c-acento: rgb(2, 0, 128);
    /* --c-fondo: #151922; */
    --c-fondo: #151922;
    --cd-f1: hsla(240,61%,61%,0.24);
    --cd-f2: hsla(240,72%,74%,0.48);
    --cd-f3: hsla(234, 90%, 76%, 0.18);

    --text: white;
}

.dark_mode{
    --c-primario: #44347f;
    --c-secundario: #5f6fa5;
    --c-acento: rgb(0, 167, 218);
    --c-fondo: hsl(0, 0%, 100%);
    --cd-f1: hsla(234, 100%, 72%, 0.24);
    --cd-f2: hsla(225, 100%, 61%, 0.48);
    --cd-f3: hsla(214, 90%, 76%, 0.18);

    --text: rgb(17, 0, 80);
}

html{
    overflow-x: hidden;
}

*{
    font-family:Arial, Helvetica, sans-serif;
    color: var(--text);
}

body{
    background-color:var(--c-fondo);
    background-image:
    radial-gradient(at 50% 0%, var(--cd-f1) 0px, transparent 50%),
    radial-gradient(at 50% 0%, var(--cd-f2) 0px, transparent 10%),
    radial-gradient(at 50% 0%, var(--cd-f3) 0px, transparent 55%);
    transition: background-color 0.5s ease;
    background-size: 100dvw 80dvh;
    background-repeat: no-repeat;
}


a{
    text-decoration: none;
    color: white;
}

i{
    cursor: pointer;
}

section{
    min-height: 85dvh;
    margin: calc(15dvh / 2) 20px;
    view-timeline: --scroll;
}

@keyframes fade-away-in {
    0% {
        opacity: 1;
        transform: scale(1) translateY(0%);
    }
    65% {
        opacity: 0;
        transform: scale(0.8) translateY(85dvh);
    }
    100%{
        opacity: 0;
        transform: scale(1) translateY(0);
    }
}

@keyframes fade-away-out {
    0% {
        opacity: 1;
        transform: scale(1) translateY(0%);
    }
    65% {
        opacity: 0;
        transform: scale(1.5) translateY(85dvh);
    }
    100%{
        opacity: 0;
        transform: scale(1) translateY(0);
    }
}

