:root{
    --c-primario: rgb(255, 235, 119);
    --c-secundario: rgb(255, 202, 123);
    --c-acento: purple;
    /* --c-fondo: #151922; */
    --c-fondo: #151922;
    --cd-f1: hsla(240,61%,61%,0.24);
    --cd-f2: hsla(240,72%,74%,0.48);
    --cd-f3: hsla(234, 90%, 76%, 0.18);

    --text: white;
}

html{
    overflow-x: hidden;
}

.dark_mode{
    --c-primario: #34617F;
    --c-secundario: #5f8fa5;
    --c-acento: #051C36;
    --c-fondo: hsl(42, 72%, 83%);
    --cd-f1: hsla(189, 100%, 72%, 0.24);
    --cd-f2: hsla(180, 100%, 81%, 0.48);
    --cd-f3: hsla(196, 90%, 76%, 0.18);

    --text: rgb(0, 80, 73);
}

*{
    font-family:Arial, Helvetica, sans-serif;
    color: var(--text);
}

body{
    background-color:var(--c-fondo);
    background-image:
    radial-gradient(at 50% 0%, var(--cd-f1) 0px, transparent 50%),
    radial-gradient(at 50% 0%, var(--cd-f2) 0px, transparent 10%),
    radial-gradient(at 50% 0%, var(--cd-f3) 0px, transparent 55%);
    transition: background-color 0.5s ease;
    background-size: 100% 20%;
    background-repeat: no-repeat;

    position: relative;
    /* display: flex; */

    margin: 20px;
    padding: 10px;
}

.dark_mode header,.dark_mode  nav{
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);

    border-radius: 50px;
    border: 2px solid var(--c-primario);
}

header, nav{
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);

    border-radius: 50px;
    border: 2px solid white;
}

nav{
    position: fixed;
    top: 30px;
    left: 500px;

    height: 50px;
    /* width: calc(100% - 500px - 60px); */

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border-radius: 30px;

    backdrop-filter: blur(5px);
    z-index: 1;
    
}

a{
    text-decoration: none;
    color: white;
}

main{
    /* width: calc(100% - 500px);
    margin-left: calc(500px - 30px); */
    margin-top: 20px;
    

    justify-items: center;
    z-index: -1;

}

section{
    padding: 30px;
    /* margin: 50px;
    margin-bottom: 120px; */

    width: 90%;
    height: 85dvh;

    /* background-color: rgb(225, 255, 143); */
}

/* #sc1{
    animation: fst both linear;
    animation-timeline: view();
    animation-range: exit 5vh exit 80vh;
} */

nav{
    animation: fstNav both linear;
    animation-timeline: view();
    animation-range: exit 75vh exit 150vh;
}

@keyframes fst {
    from{
        opacity: 1;
        left:  calc(-250px + 15px) ;
    }    
    to{
        opacity: 0;
        
        left: 0px;
        transform:translateY(-100px) scale(0.9);
    }

}

@keyframes fstNav {
    from{
        opacity: 1;
        left:5%;
        width: 90%;
    }    
    to{
        left: 500px;

        height: 50px;
        width: calc(100% - 500px - 60px);
    }

}