nav{
    position: fixed;
    top: 20px;
    /* left: 25%; */
    width: clamp(650px, 50dvw, 4000px);
    
    left: calc((100% - clamp(650px, 50dvw, 4000px)) / 2);


    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    
    background: linear-gradient(to left, var(--c-fondo),
         var(--cd-f1), var(--c-fondo));
    backdrop-filter: blur(10px);

    z-index: 9;
    border-radius: 20px;
    border: 1px solid var(--text);

}

.burger{
    display: none;
}

nav div:last-child{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: clamp(0px, 20%, 100px);
}

#idiomas button{
    background-color: transparent;
    border: transparent ;
    width:  20px;
    cursor: pointer;
}
#idiomas button:nth-child(1)::after{
    content: "|";
    margin-left: 1.5px;
    color: var(--c-secundario);
}

.dark_mode #idiomas button{
    color: var(--c-fondo);
    /* text-shadow: 0 0 2px; */
}

#idiomas  .sel{
    color: var(--c-acento);
    /* text-shadow: 0 0 2px; */
}

.dark_mode #idiomas  .sel{
    color: var(--c-primario);
}

.dark_mode nav div:nth-child(6), nav div:nth-child(6){
    display: flex;
    justify-content: space-between;
    background-color: var(--c-wave1);
    border-radius: 20px;

    padding: 5px;
    
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.493);
}

nav div:nth-child(6){
    background-color: var(--c-wave1);
}



@media screen and (min-width: 601px) and (max-width:1023px) {
    nav{
        width: 100%;
        margin: 0;
        top:0;
        left: 0;

        border-radius: unset;
        border: unset;
        border-bottom: 1px solid var(--text);
    }
}

@media screen and (max-width: 600px) {

    .dark_mode nav div:nth-child(6), nav div:nth-child(6){
        margin: 0;
        margin-top: 65dvh;
        width:100%;  
        
    }
    
    nav.active {
        top: 0;
        left: 0;

        display: flex;
        flex-direction: column;
        align-items:end;
        justify-items: right;
        justify-content: start;

        height: 100%;
        width: 150px !important;

        background: var(--cd-f2);
        backdrop-filter: blur(5px) brightness(.5);
        border-radius: 0;
        border-color: transparent;

        /* background: var(--c-wave2); */
        box-shadow: 0 0px 20px black;

         padding-top: 50px;
    }

    .dark_mode nav.active{
        background: hsla(240,72%,74%,0.78);
        backdrop-filter: blur(5px);
    }

    nav a{
        margin: 10px 30px;
    }

    nav a:first-child{
        margin-top: 40px;
    }

    nav {
        display: none;
        transition: all 0.3s ease-in-out;
    }

    /* buger icon menu */

    .burger {
        position: fixed;
        top: 15px;
        left: 12px;

        width: 15px;
        height: 20px;
        background: transparent;
        
        cursor: pointer;
        display: block;
       
        z-index: 10;
    }
      
    .burger input {
        display: none;
    }
    
    .burger span {
        display: block;
        position: absolute;
        height: 4px;
        width: 20px;
        background: var(--text);
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        
        z-index: 11;
    }
    
    .burger span:nth-of-type(1) {
        top: 0px;
        transform-origin: left center;
    }
    
    .burger span:nth-of-type(2) {
        top: 50%;
        transform: translateY(-50%);
        transform-origin: left center;
    }
    
    .burger span:nth-of-type(3) {
        top: 100%;
        transform-origin: left center;
        transform: translateY(-100%);
    }
    
    .burger input:checked ~ span:nth-of-type(1) {
        transform: rotate(45deg);
        top: 0px;
        width: 20px;
        z-index: 11;
    }
    
    .burger input:checked ~ span:nth-of-type(2) {
        width: 0%;
        opacity: 0;
    }
    
    .burger input:checked ~ span:nth-of-type(3) {
        transform: rotate(-45deg);
        top: 14px;
        width: 20px;
        z-index: 11;
    }

    .burger::after{
        content: "";
        position: absolute;
        top: -55px;
        left: -115px;

        width: 150px;
        height: 90px;

        border-radius: 20px;

        background-color: var(--c-wave1);
        border: 1px solid var(--c-primario);

        z-index: 10;
    }

}

.enlace{
    position: relative;
}

.enlace::before{
    content: "";
    position: absolute;

    left: -10px;
    bottom: -7px;

    height: 3px;
    width: 0;

    background-color: var(--c-primario);

    height: 0;
    width: 0;
}

.enlace:hover::before{
    animation: hoverNAV 0.2s ease-out forwards;
    animation-iteration-count: 1;
}

.dark_mode .enlace::before{
     background-color: var(--c-acento);
}

.enlace:hover span{
    color: var(--c-primario) !important;   
}

.dark_mode  .enlace:hover span{
    color: var(--c-acento) !important;   
}

.enlace:not(:hover)::before {
    animation: hoverNAVReverse 0.2s  forwards;
    animation-iteration-count: 1;

}

@keyframes hoverNAV {
    from{
        height: 3px;
        width: 0;
    }
    to{
        height: 3px;
        width: calc(100% + 20px);
    }        
}

@keyframes hoverNAVReverse {
    from{
        height: 3px;
        width: calc(100% + 20px);
    }to{
        height: 0px;
        width: 0;
    }
     
}
