nav{
    position: fixed;
    top: 20px;
    left: 25%;
    width: clamp(650px, 50dvw, 4000px);

    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    
    background: linear-gradient(to left, var(--c-fondo),
         var(--cd-f1), var(--c-fondo));
    backdrop-filter: blur(5px);

    z-index: 10;
    border-radius: 20px;
    border: 1px solid var(--text);

}


nav div:last-child{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: clamp(0px, 20%, 100px);
}

#idiomas button{
    background-color: transparent;
    border: transparent ;
    width:  20px;
    cursor: pointer;
}
#idiomas button:nth-child(1)::after{
    content: "|";
    margin-left: 1.5px;
    color: var(--c-secundario);
}

#idiomas .sel{
    color: var(--c-primario);
}

@media screen and (min-width: 601px) and (max-width:1023px) {
    nav{
        width: 100%;
        margin: 0;
        top:0;
        left: 0;

        border-radius: unset;
        border: unset;
        border-bottom: 1px solid var(--text);
    }
}

@media screen and (max-width: 600px) {
    nav{
        width: 100%;
        margin: 0;
        top:0;
        left: 0;

        border-radius: unset;
        border: unset;
        border-bottom: 1px solid var(--text);
        font-size: 14px;
        justify-content: space-evenly;
        width: 100%;
    }

    nav div i{
        width: 0px;
        height: 0px;
        overflow: hidden;
        display: none;
    }

    /* #idiomas button{
        display: none;
        font-size: 12px;
        width: 5px;
    }
    #idiomas .sel{
        display: block;
    }
    #idiomas button:nth-child(1)::after{
        display: none;
    } */

    nav div:last-child{
        /* background-color: red; */
        display: none;
        justify-content: space-around;
        width: clamp(0px, 20%, 100px);
    }
}