#sc0{
    align-items: center;
    justify-content: center;
    justify-items: center;
}

#sc0 p{
    width: clamp(300px,100%,30vw);

    text-align: center;
}

#sc0 h1{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    padding-top: 20dvh;
}

#sc0 h1 span {
    opacity: 1; 
    transform: scale(1); 
}

/* DESARROLLADOR */
#sc0 h1 span:nth-child(1){
    font-size: clamp(16px, 7vw, 70px);
    margin-bottom: -50px;
    position: relative;

    color: var(--c-texto);
    
}

#sc0 h1 span:nth-child(1)::after{
    font-size: clamp(16px, 7vw, 70px);
    content: "Desarrollador Full-Stack";
    position: absolute;
    left: 0;

    color: transparent;
    background:
    radial-gradient(at 50% 0%, var(--cd-f1) 0px, transparent 5%),
    radial-gradient(at 50% 0%, var(--cd-f2) 0px, transparent 10%),
    radial-gradient(at 50% 0%, var(--cd-f3) 0px, var(--c-acento) 255%);
    
    background-clip: text ;
    background-size: cover;
    background-position: 100%;
}

/* GUILLERMO */
#sc0 h1 span:nth-child(3){
    font-size: clamp(16px, 20vw, 220px);
    position: relative;

    color: var(--c-fondo);
}

#sc0 h1 span:nth-child(3)::after{
    content: "Guillermo";
    position: absolute;
    left: 0;
    font-size: clamp(16px, 20vw, 220px);

    color: transparent;
    background:
    radial-gradient(at 50% 0%, var(--cd-f1) 0px, transparent 75%),
    radial-gradient(at 50% 0%, var(--cd-f2) 0px, transparent 70%),
    radial-gradient(at 50% 0%, var(--cd-f3) 10px, var(--c-acento) 555%);
   
        
    background-clip: text ;
    background-size: cover;
    background-position: 100%;
    
}

#sc0 h1 span:nth-child(3), 
    #sc0 h1 span:nth-child(1),
        #sc0 p, #sc0 .botonera{
    opacity: 1;
    animation: fade-away-in both linear;
    animation-timeline: --scroll;
    animation-range: exit -10% exit 85dvh;
}

