

.tarjetas{
    display: flex;
    flex-wrap: wrap;
    /* margin-bottom: 0 ; */
    justify-content: center;
    justify-items: center;
}

.tarjeta{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.tarjeta{
    display: flex;
}

.window{
    width: 400px;
    height: 300px;
    margin: 0 20px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    position: relative;
    border: 5px var(--cd-f1) solid;
    border-top-width: 30px;
}

.window span{
    width: 10px;
    height: 10px;
    background-color: var(--c-primario);
    position: absolute;
    top: -20px;
    left: 5px;

    border-radius: 50%;
    
}

.window span::before,  .window span::after{
    content: "";
    width: 10px;
    height: 10px;
    background-color: var(--text);
    position: absolute;
    /* top: -20px; */
    left: 15px;

    border-radius: 50%;
}

.window span::after{
    background-color: var(--c-secundario);
    left: 30px;
}

.window::after{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    overflow: hidden;
    right: 5px;
    top: -20px;

    border-radius: 25%;
    background-color: var(--c-acento);
}

.window .bttn{
    position: absolute;
    bottom: 10px;
    right: 10px;

    width: 30px;
    height: 30px;
    border-radius: 50%;

    padding: 10px;
    background-color: white;
    border: 2px solid black;

    cursor: pointer;

    transition:all 0.3s ease;
}

.dark_mode .window .bttn{
    filter:invert();
}

.window .bttn:hover{
    background-color: gray;
    transform: scale(1.1);
}

.window img:first-child {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.techProyectos span::before {
    content: "#";
}

.techProyectos span{
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 12px;

    
    
}

.b{
    background-color: var(--c-primario);
    color: var(--c-fondo);
}

.f{
    background-color: var(--c-secundario);
    color: var(--c-fondo);
}

.o{
    background-color: var(--c-acento);
}

.tarjeta h3{
    margin: 0;
    text-transform: capitalize;
    letter-spacing: 0.2rem;
    font-size: 22px;
    color: var(--c-primario);
}

@media screen and (max-width:1023px) {

    #sc2{
        width: 100%;
        margin-left: 0;

        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;
        justify-items: center;
    }

    .tarjetas{
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

    .tarjeta{
        flex-direction: column;
        padding: 0px;
        margin: 10px 0;
        width: 90%;
        
        /* background-color: red; */
    }

    .window{
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .descripcion{
        width: 100%;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }

    .tarjeta h3{
        margin-top: 10px;
        margin-bottom: 5px 
    }
}

@media screen and (min-width: 1024px) {
    #sc2{
        width: calc(100% - 700px);
        margin-left: 500px;
    }

    .tarjeta div:last-child{
        /* background-color: red; */
        width: 50%;
    }

    .techProyectos {
        position: relative;
        /* margin: 0; */
        /* padding: 15px 0; */
        /* border-radius: 5px; */

        display: flex;
        align-items: center;

        /* background:
        radial-gradient(at 0% 50%, var(--cd-f1) 0px, transparent 75%),
        radial-gradient(at 0% 50%, var(--cd-f3) 0px, transparent 45%); */

        /* background-color: green; */
        width: 100%;
    }



}
