#expandir{
    margin: 0 0 0 20px;
}

.techFilter{
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.212);
    margin: 20px;
    margin-top: 0;
    display: none;
}

.techFilter button{
    border: none;
    background-color: var(--c-primario);
    color: black;
}

.techFilter button:nth-child(1){
    display: flex;
    flex-direction: column;
    width: 60px;
    
    justify-content: center;
    align-items: center;
}

.techFilter div:nth-child(2),
    .techFilter div:nth-child(3),
        .techFilter div:nth-child(4){
    display: flex;
    flex-wrap: warp;

    margin: 10px;
}

.techFilter div:nth-child(2) span,
    .techFilter div:nth-child(3) span,
        .techFilter div:nth-child(4) span{

    width: 100px;
    padding: 5px;
    text-align: right;
    margin: 0 20px 0 0;
}

.techFilter div:nth-child(2) .filtroTech,
    .techFilter div:nth-child(3) .filtroTech,
        .techFilter div:nth-child(4) .filtroTech{

    width: auto;
    padding: 5px;
    text-align: right;
    margin: 0 20px 0 0;
}