#sc3{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    /* background-color: red; */
}

#contentExp{
    width: 75%;
    /* height: 70dvh; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;

    padding: 20px;
}

#contentExp div{
    border-radius: 10px 10px 0 0;
    width: clamp(300px, 20vw, 500px);
    background:
        linear-gradient(to bottom, var(--cd-f1), transparent)
        ;

    height: 50%;
    margin: 5px 10px;
    padding: 10px;
}

#contentExp div h3:nth-child(1){
    background-color: var(--cd-f2);
    width: 100%;
    padding: 5px 10px;
    margin: -10px 0 0 -10px;
    border-radius: 10px 10px 0 0;
    text-align: center;
    color: var(--c-primario);
}

#contentExp div h4:nth-child(2){
    /* background-color: red; */
    /* letter-spacing: 0.3rem; */
    text-transform: capitalize;
    text-align: center;
    margin: 4px 0;
}

#contentExp div p{
    /* background-color: green; */
    margin: 0px auto;
}

#contentExp div ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

#contentExp div li{
    list-style: none;
    margin: 5px 5px 5px 0; 
}

#contentExp{
    position: relative;
}

#contentExp div{
    position: relative;
}

#contentExp::aftfer{
    position: absolute;
    /* left: calc(50% - 200px); */
    /* left: 20dvw; */
    left:calc(45% - (clamp(300px, 20vw, 500px) / 2));

    content: "";
    width: 2px;
    height: 100%;

    background-color: var(--c-primario);
    z-index: -1;
}

#contentExp div::before{
    content: "work_history"; /* Nombre del icono */
    font-family: "Material Icons"; /* Especifica la fuente */
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    
    font-size: 30px;
    position: absolute;
    left: -50px;
    top: 0;

    background-color: var(--cd-f2);
    width: 40px;
    height: 40px;

    border-radius: 50%;
    border: 1px solid var(--c-secundario);
}

#contentExp .work::before{
    content: "badge"; /* Nombre del icono */
    font-family: "Material Icons"; /* Especifica la fuente */

}

#contentExp .study::before{
    content: "school"; /* Nombre del icono */
    font-family: "Material Icons"; /* Especifica la fuente */

}

#contentExp div::after{
    content: "";
    width: 1px;
    height: calc(100% - 45px);

    position: absolute;
    left: -30px;
    top: 45px;

    background-color: var(--c-primario);
}

@media screen and (max-width:1023px) {
}

@media screen and (min-width: 1024px) {
    /* #contentExp::after{
        position: absolute;
        left: 0;
        top: 90%;

        content: "";
        width: 100%;
        height: 2px;

        background-color: var(--c-primario);
        z-index: -1;
    } */
}
