#sc4{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
    
    position: relative;
    transition: all 0.5s ease;
}

.in{
    animation: closeTech .4s linear both;
}

.in.out{
    animation: openTech .4s linear both;
    
    background-color: var(--c-fondo);
    z-index: 2;
}

.in.out h2, .in.out div img, .in card{ 
    animation: banish .4s linear both;
}

.in h2, .in div img, .in.out card{ 
    animation: appear .4s linear both;
}


@keyframes openTech {
    from{
        transform: translateX(0%) scale(1);
    }
    to{
        transform: translateX(-0%) scale(5);
    }
}

@keyframes closeTech {
    from{
        transform: translateX(-0%) scale(5);
    }
    to{
        transform: translateX(0%) scale(1);
    }
}

@keyframes banish {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@keyframes appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.tech{
    width: 50px;
    height: 50px;
}

#sc4 h2:nth-child(1){
    font-size: clamp(16px, 10vw, 150px);
    margin-top: 0px;
    
    cursor: pointer;

    text-transform: uppercase;

    text-shadow:
         2px  2px 10px var(--cd-f3),
        -2px -2px 10px var(--cd-f2),
         2px -2px 10px var(--cd-f3),
        -2px  2px 10px var(--cd-f2);

    color: var(--c-fondo);
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 1;
    transition: all 0.5s ease;
    
}

#sc4 h2:nth-child(1):hover{
    color: var(--text);
    transform: translateY(-50%) translateX(-50%) scale(1.2);
}

.dark_mode #sc4 h2:nth-child(1){
    text-shadow:
    2px  2px 10px var(--cd-f3),
   -2px -2px 10px var(--c-fondo),
    2px -2px 10px var(--cd-f2),
   -2px  2px 10px var(--text);
}

#sc4 div:nth-child(2),#sc4 div:nth-child(3),#sc4 div:nth-child(4){
    border-radius: 50%;
    border: 1px solid var(--cd-f2);
    /* filter: grayscale(1) sepia(1) hue-rotate(180deg) saturate(2); */
    z-index: 0;
}

#sc4 div img{
    filter: grayscale(1) sepia(10) hue-rotate(200deg) saturate(2);
}

.dark_mode #sc4 div img{
    filter: grayscale(1) sepia(10) hue-rotate(180deg) saturate(2);
}

@keyframes rotar {
    0% {
      transform: translateY(-50%) translateX(-50%) rotate(0deg) scale(1);
      /* z-index: 0; */
    }
    50% {
      transform: translateY(-50%) translateX(-50%) rotate(180deg) scale(1);
      /* z-index: -1; */
    }
    100% {
        transform: translateY(-50%) translateX(-50%) rotate(360deg) scale(1);
        /* z-index: 1; */
      }
}

@keyframes rotar_rev {
    0% {
      transform: translateY(-50%) translateX(-50%) rotate(0deg) scale(1);
      /* z-index: 0; */
    }
    50% {
      transform: translateY(-50%) translateX(-50%) rotate(-180deg) scale(1);
      /* z-index: -1; */
    }
    100% {
        transform: translateY(-50%) translateX(-50%) rotate(-360deg) scale(1);
        /* z-index: 1; */
      }
}

/* PRINCIPALES */
#sc4 div:nth-child(4){
    width: 200px;
    height: 200px;
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    animation: rotar_rev 6s linear infinite;
}

#sc4 div:nth-child(4) img:first-child{
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}

#sc4 div:nth-child(4) img:last-child{
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
}

#sc4 div:nth-child(4):after{
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 50%;

    background-color:var(--c-primario);

    position:absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.dark_mode #sc4 div:nth-child(4):after{
    background-color: rgb(255, 232, 155);
}

#sc4 div:nth-child(4):before{
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 50%;

    background: radial-gradient(var(--c-primario) , transparent );
    /* box-shadow: 0 0 100px goldenrod; */

    position:absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    animation: vibration 6s linear infinite;
}

@keyframes vibration {
    0%,100%{
        transform: translateY(-50%) translateX(-50%) scale(1);
    }
    50%{
        transform: translateY(-50%) translateX(-50%) scale(1.2);
    }
}

/* SECUNDARIO */
#sc4 div:nth-child(3){
    width: 400px;
    height: 400px;
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    animation: rotar 10s linear infinite;
}


#sc4 div:nth-child(3) img:first-child{
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}

#sc4 div:nth-child(3) img:last-child{
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
}


#sc4 div:nth-child(3) img:nth-child(2){
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);;
}

#sc4 div:nth-child(3) img:nth-child(3){
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(-90deg);
}

#sc4 div:nth-child(3) img:last-child{
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
}

/* TERCIARIO */
#sc4 div:nth-child(2){
    width: 600px;
    height: 600px;
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    animation: rotar_rev 16s linear infinite;
}

#sc4 div:nth-child(2) img:first-child{
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}

#sc4 div:nth-child(2) img:last-child{
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
}


#sc4 div:nth-child(2) img:nth-child(2){
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);;
}

#sc4 div:nth-child(2) img:nth-child(3){
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(-90deg);
}

#sc4 div:nth-child(2) img:last-child{
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
}

#sc4 div:nth-child(2) img:nth-child(4){
    position: absolute;
    left: 11%;
    bottom: 11%;
    transform:translateX(-11%) translateY(-11%) rotate(-135deg);
    
}
#sc4 div:nth-child(2) img:nth-child(5){
    position: absolute;
    left: 11%;
    top: 11%;
    transform:translateX(-11%) translateY(11%) rotate(-45deg);
    
}

#sc4 div:nth-child(2) img:nth-child(6){
    position: absolute;
    right: 11%;
    bottom: 11%;
    transform:translateX(11%) translateY(-11%) rotate(135deg);
    
}
#sc4 div:nth-child(2) img:nth-child(7){
    position: absolute;
    right: 11%;
    top: 11%;
    transform:translateX(11%) translateY(11%) rotate(45deg);
    
}

/* tarjetas */
div.opened{
    opacity: 0;
    animation: bannish 1s linear both;
}

.in.out div.opened{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translateX(-50%) translateY(-50%);
    animation: appear 1s linear both;

    width: 210px;
    /* height: px; */

    display: flex;
    justify-content: space-between;
    font-size: 5px;

}

/* .out div:nth-child(2),
     .out div:nth-child(3), */
         .out div:nth-child(4){

    filter: saturate(0.5) blur(1px);
    border-style: dotted !important;
    /* background-color: red; */
}

card {
    background-color: var(--cd-f1);

    border-radius: 2px;
    box-shadow: 0 0 1px;
    
    
    width: 50px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    justify-items: center;

    padding: 1px;
}

card:nth-child(1){
    background-color: var(--c-primario);
}

card:nth-child(2){
    background-color: var(--c-secundario);
}

card:nth-child(3){
    background-color: var(--c-acento);
}

card ul{
    list-style: none;
    padding: 2px;
    font-size: 3px;
    width: 50px;
    height: 100%;

    display: grid;
    gap: 2px;
    grid-template-columns: repeat(3, 1fr)
}

card li{
    /* background-color: white; */
    text-align: center;
    color: var(--c-fondo);
}

card p{
    /* height: 5%; */
    text-align: center;
    color: var(--c-fondo);
    font-weight: bold;
    width: 100%;    
    height: 10%;
    /* text-shadow: 0 0 3px var(--c-fondo); */
    /* background-color: green; */
}

@media screen and (max-width:1070px) {
    .in.out div.opened{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }

    card ul{
        display: grid;
        gap: auto;
        grid-template-columns: repeat(3, 1fr)
    }

}