#sc5{
    display: flex;
    flex-direction: column;
    align-items: center;

    /* background-color: var(--c-wave3); */

    width: 100%;
    margin: 0;
    height: calc(auto + 80px);
    min-height:100px;

    position: relative;
}

#sc5::after{
    position: absolute;
    content: "";
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    
    left: -15px;
    top: -60px;

    background-color: var(--c-wave3);
    background: linear-gradient(to bottom, var(--c-wave3), var(--c-fondo));
    z-index: -1;
}

form input, textarea{
    border-radius: 20px;
    background: linear-gradient(to top,var(--cd-f1),transparent);
    backdrop-filter: blur(5px);
    border: none;
    margin: 5px;
    padding: 2.5px;
}

textarea{
    padding: 5px;
}

form input:valid{
    background-color: none;
}

textarea{
    height: 30dvh;
}

form input{
    height: 30px;
}


form p.error {
    display: none; 
    color: red;
    font-size: 12px;
    font-style: italic;
    margin: 0;
    width: 100%;
    text-align: center;
}

form p.error.show-error {
    display: block;
}

fieldset{
    border: none;
}



@media screen and (max-width:700px) {
    #sc5{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    form, fieldset{
        display: flex;
        flex-direction: column;
        align-items: center;

        /* width:clamp(040px, 90%, 1000px); */
        width: 90%;
    }

    label, input, textarea, p{
        width: 100%;
    }

    form button[type=submit]{
        width: 80%;
    }

   form button:last-child{
        display: none;
    }

}

@media screen and (min-width: 701px) {
    form{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width:clamp(300px, 90%, 1000px);    
    }

    fieldset {
        display:grid;
        grid-template-columns:80px auto;
        align-items: center;
    }

    fieldset :nth-child(1){
        grid-column: 1;
        grid-row: 1;
    }

    fieldset :nth-child(2){
        grid-column: 2;
        grid-row: 1;
        
    }

    fieldset :nth-child(3){
        grid-column-start:1;
        grid-column-end: 3;
        grid-row: 2;

        width: auto;
    }
    
    fieldset:nth-child(1){
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 1;
    }

    fieldset:nth-child(2){
        grid-column: 1;
        grid-row: 2;
    }
    fieldset:nth-child(3){
        grid-column: 2;
        grid-row: 2;
    }

    fieldset:nth-child(4), fieldset:nth-child(5){
        grid-column-start: 1;
        grid-column-end: 3;
    }

    fieldset:nth-child(5){
        display: flex;
        flex-direction: column;
    }
    fieldset:nth-child(5) *{
        width: 100%;
    }
    
}
