footer{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    /* justify-items: */

    height: clamp(150px, 40dvh, 250px);
    /* height: 40dvh; */

    /* background: linear-gradient(to bottom, transparent, black);
    width: 100%; */
}

footer .botonera{
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: center;

    width: 100px;
}

footer p{
     text-align: center;
}

footer .botonera img{
    width: 20px;
    height: 20px;
    filter: invert(1);
    cursor: pointer;
}

.dark_mode footer .botonera img{
   filter: invert(0);
}

footer .botonera button{
    border: none;
    cursor: pointer;
    border: 1px solid var(--text);
    border-radius: 50%;
    width: 27px;
    height: 27px;
    font-size: 10px;
}

footer .botonera :nth-child(1){
    background-color: transparent;
}

footer .botonera :nth-child(1)::before{
    content:"";

}

footer .botonera :nth-child(2){
    
    background-color: transparent;
}

footer .botonera :nth-child(2)::before{
    content:"";
}

footer .botonera :nth-child(3){
    background-color: transparent;
   
}

.cpMail::after{
    content:"content_copy";
    font-family: "Material Icons";
    /* height: inherit; */
    height: 100%;
    margin-left: 5px;
    align-self: center;
}

.cpMail:hover {
    transition: all 0.3s ease;
    color: var(--c-primario)    ;
}

.cpMail{
    cursor: pointer;
}

/* NOTIFICACION  */

.notification{
    position: fixed;
    top: 85%;
    right: -20px;

    padding: 0 20px;
    border-radius: 20px;

    width: 270px;

    background-color: var(--cd-f2);
    border: 1px var(--c-secundario) solid;
    backdrop-filter: blur(10px) brightness(0.5);

    z-index: 10;
}

.dark_mode .notification{
    
    backdrop-filter: blur(10px) brightness(2.5);
}

.notification p{
    font-size: 12px;
    margin: 5px 0;
}

.notification h3{
    margin: 5px 0;
    font-size: 15px;
    color: var(--c-primario);
}

.notification{
    /* opacity: 0; */
    transform: translateX(300px);
    transition: all 0.5s ease;

    /* pointer-events: none; */
}

.notification.active{
    opacity: 1;
    transform: translateX(0px);
    /* pointer-events: auto; */
}